*{
	padding:0px;
	margin: 0px;
	text-align: center;
	text-decoration: none;
}

li{
	list-style: none;
}

body{
	background-color: #daede2;
}


#container{
	width:70%;
	height: 1000px;
	margin: 0 auto;
}

.c1{
	width:70%;
	height: 100%;
	background-color: #77c4d3;
	opacity: 0.6;
	position: absolute;
	z-index: -1;
}

#header h1{
	color: #fff;
	display: block;
	line-height: 100px;
	font-size: 50px;
}

#navigator ul{
	background-color: #00A2CA;
}

#navigator li{
	display: inline-block;
}

#navigator a{
	display: block;
	padding: 0 50px;
	line-height: 60px;
}

#navigator a:hover{
	background: #0095BB;
}

.css-part{
	background-color: gray;
}

.css-part h2{
	color: yellow;
	text-align: left;
}
.menu{
	display: inline-block;
}

.menu:hover .submenu{
	display: block;
}

.submenu{
	display: none;
}
